{{ define "main" }}
<main class="posts">
    {{ range .Paginator.Pages }}
    <article class="post">
        {{ partial "post-header.html" . }}

        {{ .Render "summary" }}
    </article>
    {{ end }}

    {{- if or (.Paginator.HasNext) (.Paginator.HasPrev) }}
    <nav class="main-nav">
        <ul>
            <li>{{ if .Paginator.HasNext }}<a href="{{ .Paginator.Next.URL }}">← Older</a>{{ end }}</li>
            <li>{{ if .Paginator.HasPrev }}<a href="{{ .Paginator.Prev.URL }}">Newer →</a>{{ end }}</li>
        </ul>
    </nav>
    {{- end }}
</main>
{{ end }}
